[Unit]
Description=EduOnline Flask Application
After=network.target

[Service]
User=eduonline
Group=www-data
WorkingDirectory=/opt/eduonline
Environment="PATH=/opt/eduonline/.venv/bin"
ReadWritePaths=/opt/eduonline
ProtectHome=true
ProtectSystem=strict
NoNewPrivileges=true
PrivateTmp=true
RuntimeDirectory=eduonline
RuntimeDirectoryMode=0750
ExecStart=/opt/eduonline/.venv/bin/gunicorn "app:create_app()" --bind unix:/run/eduonline/eduonline.sock --umask 007 --workers 5 --worker-class gthread --threads 12 --backlog 2048 --timeout 30 --max-requests 10000 --max-requests-jitter 1000 --no-control-socket --keep-alive 5
Restart=always
LimitNOFILE=65535
[Install]
WantedBy=multi-user.target